<div class="forms-view">

</div>
<div class='survey-question-view'>
</div>
<div class="question-view">

</div>
<div class="panel panel-default">
	<div class="panel-heading">Comments</div>
  <div class="panel-body">
	<textarea id="txtComments">
	</textarea>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <div class='pull-left txtMessage'></div>
    <form class='pull-right'>
	  <button type="button" id="btnSubmit" class="btn btn-default ">Submit</button>
	  <button type="button" id="btnExport" class="btn btn-default ">Export</button>
	</form>
  </div>
</div>