<div class="panel panel-default">
  <div class="panel-heading">Company Configuration</div>
  <div class="panel-body">
	<div class="media">
	  <div class="media-left media-middle">
		<a href="#">
		  <img class="media-object" src="..." alt="...">
		</a>
	  </div>
	</div>
    <div class="form-group">
		<input type="text" class="form-control" id="txtCompanyName" value="<%= company_name %>" placeholder="Name">
	</div>
	<div class="form-group">
		<input type="text" class="form-control" id="txtGeneralQuestion" value="<%= general_question_survey %>"placeholder="General Question Survey">
	</div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Form Configuration</div>
  <div class="panel-body">
    <form>
	  <div id="field1">
	  </div>
	  <div id="field2">
	  </div>
	  <div id="field3">
	  </div>
	  <div id="field4">
	  </div>
	</form>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Question</div>
  <div class="panel-body">
    <form>
		<div id="questions">
			
		</div>
	<button type="button" id="btnAddNew" class="btn btn-default pull-right">Add New</button>
	</form>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <form class='pull-right'>
	  <button type="button" id="btnSave" class="btn btn-default ">Save</button>
	  <button type="button" id="btnPreview" class="btn btn-default">Preview</button>
	</form>
  </div>
</div>