<div class="panel panel-default">
  <div class="panel-heading text-center"><a class="fa fa-bars pull-left" id="headerSliderMenu" href="#sidr"></a>
  <%= company_name %></div>
  
</div>
<div id="sidr">
  <!-- Your content -->
  <ul>
    <li class="active"><a href="#assessment">Assessment View</a></li>
    <li><a href="#config">Configuration View</a></li>
	<li><a>Report View</a></li>
	<li><a href="#report">  - Detailed Report</a></li>
	<li><a href="#summaryreport">  - Summary Report</a></li>
	<li><a href="#changepassword">Change Password</a></li>
    <li><a href="#logout">Logout</a></li>
  </ul>
</div>