<div class="panel panel-default">
  <div class="panel-heading"><a class="fa fa-bars" id="headerSliderMenu" href="#sidr"></a>
  <div class='text-center company-name'><%= company_name %></div></div>
  
</div>
<div id="sidr">
  <!-- Your content -->
  <ul>
    <li class="active"><a href="#assessment">Assessment View</a></li>
    <li><a href="#config">Configuration View</a></li>
	<li><a href="#report">Report View</a></li>
	<li><a href="#changepassword">Change Password</a></li>
    <li><a href="#logout">Logout</a></li>
  </ul>
</div>